.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  gap: 1rem;
  padding: 6rem 0 0 0;
  background: var(--surface);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 4px;
    &-thumb {
      background: color-mix(in srgb, var(--surface-2) 65%, transparent);
    }
  }
  & > h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 0 6.5vw;
    color: var(--on-surface);
    & > img {
      height: 1.6rem;
      padding-bottom: 2px;
    }
  }
  & > section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    flex: 1;
    padding-bottom: 5rem;
    & > main {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
      overflow-x: auto;
      padding: 2rem 6.5vw;
      scroll-padding: 6.5vw;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }
      & > button {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--on-surface);
        background: none;
        background: var(--surface-1);
        outline: none;
        border: none;
        height: 100%;
        padding: 0.675rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        text-wrap: nowrap;
        gap: 0.25rem;
        & > span {
          color: var(--on-surface-variant);
        }
        & > p {
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
        }
      }
    }
    & > div {
      display: flex;
      width: 100%;
      gap: 1rem;
      justify-content: flex-end;
      padding: 0 6.5vw;
      & > span {
        bottom: 1rem;
        right: 1rem;
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.375rem;
        border-radius: 100rem;
        background: var(--surface-1);
        color: var(--on-surface);
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .app {
    padding: 7rem 0 0.5rem 0;
    & > section > main {
      gap: 2rem;
    }
    & > h1 {
      font-size: 2.5rem;
      & > img {
        height: 2rem;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  .app {
    gap: 2rem;
    & > section > main {
      gap: 3.5rem;
    }
    & > h1 {
      font-size: 3rem;
      & > img {
        height: 2.3rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .app {
    gap: 3rem;
    & > h1 {
      font-size: 4rem;
      & > img {
        height: 3rem;
      }
    }
  }
}
