<div class="app">
  <h1>
    <img src="/assets/img/uurban-logo.svg" alt="Uurban logo" />&#160;& Friends
  </h1>
  <section>
    <main #slider (scroll)="checkScroll()">
      <app-card-photo src="/assets/img/ph-1.png"></app-card-photo>
      <app-card-photo id="hello1" src="/assets/img/ph-2.png"></app-card-photo>
      <app-card-photo src="/assets/img/ph-3.png"></app-card-photo>
      <app-card-photo src="/assets/img/ph-1.png"></app-card-photo>
      <app-card-photo id="hello1" src="/assets/img/ph-2.png"></app-card-photo>
      <app-card-photo src="/assets/img/ph-3.png"></app-card-photo>
      <app-card-photo src="/assets/img/ph-1.png"></app-card-photo>
      <app-card-photo id="hello1" src="/assets/img/ph-2.png"></app-card-photo>
      <app-card-photo src="/assets/img/ph-3.png"></app-card-photo>
    </main>
    <div>
      <span
        [style.opacity]="disabled === 'left' ? '0.4' : '1'"
        class="material-symbols-rounded"
        (click)="handleClick('backward')"
      >
        chevron_backward
      </span>
      <span
        [style.opacity]="disabled === 'right' ? '0.4' : '1'"
        class="material-symbols-rounded"
        (click)="handleClick('forward')"
      >
        chevron_forward
      </span>
    </div>
  </section>
</div>
