<div class="app">
  <h1>
    <img src="/assets/img/uurban-logo.svg" alt="Uurban logo" />&#160;& Friends
  </h1>
  <section>
    <main>
      <div>
        <img src="/assets/img/ph-1.png" alt="Photoshoot of UURBAN & Friends 01" />
        <h2>U&F 01</h2>
        <p>By Alice Puissant</p>
        <span class="material-symbols-rounded"> download </span>
      </div>
      <div>
        <img src="/assets/img/ph-2.png" alt="Photoshoot of UURBAN & Friends 01" />
        <h2>U&F 01</h2>
        <p>By Alice Puissant</p>
        <span class="material-symbols-rounded"> download </span>
      </div>
      <div>
        <img src="/assets/img/ph-3.png" alt="Photoshoot of UURBAN & Friends 01" />
        <h2>U&F 01</h2>
        <p>By Alice Puissant</p>
        <span class="material-symbols-rounded"> download </span>
      </div>
    </main>
    <div>
      <span class="material-symbols-rounded"> chevron_backward </span>
      <span class="material-symbols-rounded"> chevron_forward </span>
    </div>
  </section>
</div>
