.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  gap: 1rem;
  padding: 6rem 0 0 0;
  background: var(--surface);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 4px;
    &-thumb {
      background: color-mix(in srgb, var(--surface-3) 65%, transparent);
    }
  }
}
